<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.mapper.RegistrationMapper">
    <!--填写映射-->
    <insert id="regist" statementType="CALLABLE">
       {call toregistt(#{ID,mode=IN},#{name,mode=IN},#{sex,mode=IN},#{birthday,mode=IN},#{age,mode=IN},#{agetype,mode=IN},#{address,mode=IN},#{depid,mode=IN},#{docid,mode=IN},#{relevel,mode=IN},#{book,mode=IN})}
    </insert>
</mapper>
